* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #111;
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.element-item {
    margin-bottom: 30px;
}

.element-item li {
    list-style: none;
}

.element-img {
    max-width: 220px;
    max-height: 300px;
}

.item-col {
    width: 20%;
    padding: 0 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.pagination-btn {
    padding: 7px;
    border-radius: 6px;
    margin: 2px;
    cursor: pointer;
}
.pagination-btn:hover {
    background-color: #9cbcdc;
}